<h1> Inventory </h1>

<div class="grid">
  <div class="grid-row">
    <div class ="cell">Artist</div>
    <div class ="cell">Album</div>
    <div class ="cell">Quantity</div>
    <div class ="cell">Genre</div>
    <div class="cell"> Stock Level </div>
  </div>

    <% for artist in @artists %>
    <% artist.albums.each do |album| %>
    <div class="grid-row">
    <div class="cell"><%= artist.name %></div>
    <div class="cell"><%= album.title %></div>
    <div class="cell"><%= album.quantity %></div>
    <div class="cell"><%= album.genre %></div>
    <div class="cell"></div>
  </div>
  <% end %>
  <%end%>
</div>
