<!DOCTYPE html>
<html>
<head>
  <title>Championship Vinyl</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
  <h1> Championship Vinyl </h1>
<nav>
  <ul>
    <li>
      <a href="/">Home</a> </li>
      <li> <a href="/album/new">Add New Album</a> </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
