<form action="/album" method="post">
<label for="title">Album Title: </label>
<input type="text" id="album_title" name="album_title">

<label for ="quantity"> Quantity: </label>
<input type="number" id="quantity" name="quantity">

<label for="genre">Genre: </label>
<input type="text" id="genre" name="genre">

<label for="artist"> Artist: </label>
<select name="artist" id="artist">
  <% @artists.each do |artist| %>
  <option value="<%=artist.id%>"><%=artist.name%></option>
<% end %>
</select>

<input type="submit" value="Add new stock"

</form>
