<% if @searches.length > 0 %>

  <%@searches.each do |search| %>
  <p><a href="/artist/<%=search.id%>"><%= search.name %></a></p>


  <% end %>
  <%else%>
  <p> Sorry the artist does not exist </p>
  <% end %>
