body {
  background-color: darkolivegreen;
  font-family: georgia;
  color: palegoldenrod;
}

h1 {
  font-family: georgia;
  color: palegoldenrod;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  justify-content: space-between;
  background-color: palegoldenrod;
  margin: 10px;
  padding: 10px;
  font-family: georgia;
}

a:link {
  color: palegoldenrod;
}

a:visited {
  color: maroon;
}

.pagehead{
  font-family: georgia;
  color: palegoldenrod;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid-row {
  display: flex;
  border: 1px solid palegoldenrod;
  justify-content: center;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid palegoldenrod;
  text-align: justify;
  color: palegoldenrod;

}

.artists, .albums {
  display:flex;
    margin: 10px;
    padding: 10px;
  justify-content: space-between;
  color: palegoldenrod;
}
