body {
  background-color: darkolivegreen;
  font-family: georgia;
  color: palegoldenrod;
}

h1 {
  font-family: georgia;
  color: palegoldenrod;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  justify-content: space-between;
  background-color: palegoldenrod;
  margin: 10px;
  padding: 10px;
  font-family: georgia;
}

input[type=text], input[type=number], select {
  display:flex;
  margin-bottom: 15px;
}



.logo {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.new{
  display:flex;
  flex-direction: column;
  jusitfy-content: space-between;
}

a:link {
  color: darkorange;
}

a:visited {
  color: maroon;
}

.pagehead{
  font-family: georgia;
  color: palegoldenrod;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  overflow:scroll;
}
.grid-row {
  display: flex;
  border: 1px solid palegoldenrod;
  justify-content: center;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid palegoldenrod;
  text-align: left;
  color: palegoldenrod;

}

.artists, .albums {
  display:flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  color: palegoldenrod;
  overflow: scroll;
}

.album_img{
  padding-top: 10px;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}
.album_info{

  display: inline-block;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 10px;
}
