body {
  background-color: darkolivegreen;
  font-family: georgia;
}

h1 {
  font-family: georgia;
  color: palegoldenrod;
  justify-content: center;
  align-items: center;
}

.pagehead{
  font-family: georgia;
  color: palegoldenrod;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid-row {
  display: flex;
  border: 1px solid palegoldenrod;
  justify-content: center;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid palegoldenrod;
  text-align: justify;
  color: palegoldenrod;

}
