<form action="/album" method="post">
<label for="title">Album Title: </label>
<input type="text" id="title" name="title">

<label for ="quantity"> Quantity: </label>
<input type="number" id="quantity" name="quantity">

<label for="genre">Genre: </label>
<input type="text" id="genre" name="genre">

<label for="artist"> Artist: </label>
<select name="artist_id" id="artist_id">
  <% @artists.each do |artist| %>
  <option value="<%=artist.id%>"><%=artist.name%></option>
<% end %>
</select>

<label for="url"> Cover Art url: </label>
<input type="text" id="url" name="url">

<input type="submit" value="Add new stock">

</form>
