<div class="new">

<form action="/album" method="post">
<label for="title">Album Title: </label><br>
<input type="text" id="title" name="title"><br>

<label for ="quantity"> Quantity: </label><br>
<input type="number" id="quantity" name="quantity"><br>

<label for="genre">Genre: </label><br>
<input type="text" id="genre" name="genre"><br>

<label for="artist"> Artist: </label><br>
<select name="artist_id" id="artist_id">
  <% @artists.each do |artist| %>
  <option value="<%=artist.id%>"><%=artist.name%></option>
<% end %>
</select><br>

<label for="url"> Cover Art url: </label><br>
<input type="text" id="url" name="url"><br>

<label for="buy_price"> Buy Price: </label><br>
<input type="text" id="buy_price" name="buy_price"><br>

<label for="sell_price"> Sell Price: </label><br>
<input type="text" id="sell_price" name="sell_price"><br>

<input type="submit" value="Add new stock">

</form>
</div>
